html {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  text-align: center;
}

.container {
  margin: 0 10rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contenedor-sensibilidad {
  margin-top: 2rem;
}
